.btn {
    background: #FDF6E6;
    width: 60px;
    height: 60px;
    font-weight: bold;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover {
    background: #d5d5d5;
}

.btn:active {
    box-shadow: none;
}