.display {
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  /* عبارت بالا */
  .display-expression {
    font-size: 18px;
    color: #9ca3af;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
    height: 24px;
    text-align: right;
  }
  
  .display-expression.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* حالت عادی */
  .display-result.normal-mode {
    display: flex;
    justify-content: flex-start; /* عدد بیاد سمت راست */
    align-items: center;
    font-size: 36px;
    color: #111827;
    transition: all 0.3s ease;
  }
  
  /* حالت نمایش نتیجه */
  .display-result.result-mode {
    display: flex;
    justify-content: space-between; /* مساوی چپ، عدد راست */
    align-items: center;
    font-size: 2rem;
    color: #111827;
    transition: all 0.3s ease;
  }
  
  /* مساوی سمت چپ */
  .equal {
    color: #B8F3D7;
    font-size: 40px;
  }
  
  /* عدد سمت راست */
  .result-text {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    flex: 1;
  }
  
