/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

 */
 html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #000;

  overflow: hidden;
  
}
.container {
  max-width: 320px;
  margin: 40px auto;
  background-color: #FDF6E6;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


